<div class="Course">
    <div class="row">
        {{#each course}}
        <div class="col-4 mt-5 " >
            <div class="card " style="height: 500px;">
              <a href="course/{{this.slug}}"><img class="card-img-top" src={{this.image}} alt=""></a>
              <div class="card-body">
                <a href="course/{{this.slug}}"><h4 class="card-title">{{this.name}}</h4></a>
                <p class="card-text">{{this.description}}</p>
                <div class="btn btn-primary">Add Khóa Học</div>

              </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>